<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LinkMan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E00BFBE61D8FA3DA007A6773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E00BFBFD1D8FA3DC007A6773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E00BFC081D8FA3DC007A6773</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
